@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* https://noonnu.cc/font_page/367 */
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body{
    font-family: "GmarketSansLight", sans-serif;
    
}
a{
    text-decoration: none;
    color: #000;
}
header{
    background-color: #dfe6e9;
    display:flex;
    justify-content: center;
    border:1px #000 solid;
}
nav{
    border:1px rgb(179, 38, 38) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
}
.gnb{
    display: flex;
}
.gnb li a{
    margin:10px ;

}